body {
    font-family: 'Cairo', sans-serif;
    background-color: #ffffcc;
    direction: rtl;
    text-align: center;
    color: #000;
}

.container {
    width: 50%;
    margin: auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 2.5em;
    color: #2c3e50;
    margin-bottom: 20px;
}

input, button {
    padding: 15px;
    margin: 15px 0;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 1.1em;
    width: 80%;
    max-width: 400px;
}

#searchInput {
    border: 2px solid #3498db;
    background-color: #ecf0f1;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

#searchInput:focus {
    outline: none;
    border-color: #2980b9;
    background-color: #fff;
}

button {
    background-color: #3498db;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    width: 50%;
}

button:hover {
    background-color: #2980b9;
}

.student-info {
    margin-top: 20px;
    text-align: right;
    color: #2c3e50;
}

.student-table, .grades-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.student-table th, .student-table td,
.grades-table th, .grades-table td {
    padding: 15px;
    border: 1px solid #ccc;
    background-color: #ecf0f1;
}

.student-table th {
    background-color: #3498db;
    color: white;
    width: 30%;
    text-align: left;
}

.grades-table th {
    background-color: #3498db;
    color: white;
}

footer {
    background-color: #2c3e50;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: 30px;
}

.policy-container {
    width: 90%;
    margin: auto;
}

.policy-container h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.policy-container p {
    font-size: 1.1em;
    margin: 5px 0;
    line-height: 1.5em;
}
